@font-face {
  font-family: roboto;
  src: url(/fonts/roboto/Roboto-Black.ttf);
}

body {
  background-image: url("/images/pexels-markus-spiske-239419.jpg");
}

/* Style header elements */
.header {
  display: flex;
  align-items: stretch;
  height: 100px;
}

.header > div {
  background-color: #1f2937;
  font-family: roboto;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  padding: 0px;
}

.logo {
  flex-grow: 3;
}

.linkone {
  flex-grow: 1;
  cursor: pointer;
}

.linktwo {
  flex-grow: 1;
  cursor: pointer;
}

.linkthree {
  flex-grow: 1;
  cursor: pointer;
}

/* Style Login elements */

.information {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 300px;
  height: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.login {
  width: 500px;
}

.login > h1 {
  font-family: roboto;
  color: white;
  font-size: 30px;
}

.login > p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: white;
  font-size: 20px;
  text-align: justify;
}

.loginButton {
  font-family: roboto;
  color: white;
  background-color: #04aa6d;
  font-size: 20px;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 10px;
}

.loginButton:hover {
  background-color: darkolivegreen;
  cursor: pointer;
}

/* Styling the main1 */
.main1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.main1_iten1 > img {
  border-style: solid;
  border-radius: 20px;
  border-color: #1f2937;
  cursor: pointer;
}

.main1_iten1:hover {
  opacity: 0.5;
}

.main1_iten1 > p {
  font-family: roboto;
  color: black;
  font-size: 20px;
  text-align: center;
  margin: 0px;
  cursor: pointer;
}

.main1_iten2 > img {
  border-style: solid;
  border-radius: 20px;
  border-color: black;
}

.main1_iten2 > p {
  font-family: roboto;
  color: black;
  font-size: 20px;
  text-align: center;
  margin: 0px;
}
